body {
  font-family: Helvetica, sans-serif;
}

header > *,
main,
footer > * {
  margin: 0 auto;
  max-width: 960px;
  width: 90dvw;
}

header {
  background-color: #ddd;
  padding: 0.5em 0;
}

header > * {
  align-items: center;
  display: flex;
}

header img {
  border: 1px solid;
}

header nav {
  width: 100%;
}

header ul {
  display: flex;
  justify-content: space-around;
}

a {
  text-decoration: none;
  color: inherit;
}

section {
  margin-top: 1.5em;
}

main section:nth-child(2) {
  display: flex;
  justify-content: space-between;
}

main section:nth-child(3) {
  display: flex;
  padding-bottom: 1.5em;
}

section > div {
  display: flex;
  flex-direction: column;
  padding: 0 0 0 2em;
}

h2 {
  font-size: 1.5rem;
}

h2 + p {
  height: 250px;
  margin-top: 1em;
  overflow-y: scroll;
  line-height: 1.7;
}

div > button {
  background-color: #ddd;
  border: 1px solid;
  border-radius: 5px;
  margin-top: auto;
  padding: 0.5em 0;
  transition: 350ms;
  width: 70%;
}

button:hover {
  background-color: black;
  color: #ddd;
}

footer {
  background-color: #ddd;
  height: 260px;
  width: 100%;
}
